/* start login page */
.loginpage{
  margin-top: 80px;
  text-align: center;
}

.loginpage .hide {
  display: none;
}

.loginpage .box1{
  margin-top: 15%;
  width: 340px;
  height: 322px;
  background-color: white;
  box-shadow: 0px 3px 8px #aaaaaa;
  border-radius: 18px;
}

.loginpage h3{
  font-weight: bold;
}

.loginpage .box1 h3{
  padding-top: 34px;
}

.loginpage .box1 p{
  font-size: 12px;
  margin-top: 15px;
}

.loginpage .box2{
  margin-top: 25px;
  width: 340px;
  height: 43px;
  background-color: white;
  box-shadow: 0px 3px 8px #aaaaaa;
  border-radius: 18px;
}

.loginpage .box2 p{
  padding-top: 10px;
  font-size: 14px;
}

.loginpage .box2 p span{
  font-weight: bold;
  color: #5BA27F;
}

.loginpage .input1{
  width: 290px;
  margin-top: 30px;
  height: 42px;
  border: 3px solid #5BA27F;
  border-radius: 13px;
  padding-left: 20px;
  font-family: FontAwesome;
}

.loginpage .row2{
  margin-top: 15px;
}

.loginpage .input2{
  width: 210px;
  height: 42px;
  border: 3px solid #5BA27F;
  border-radius: 13px;
  padding-left:  20px;
  font-family: FontAwesome;
}

.loginpage .show{
  height: 42px;
  width: 78px;
  background-color: #828282;
  border: none;
  color: white;
  font-family: FontAwesome;
  border-radius: 12px;
  font-weight: bold;
}

.loginpage .show:hover{
  background-color: #5BA27F;
}

.loginpage input[type=submit]{
  width: 290px;
  margin-top: 15px;
  height: 42px;
  border-radius: 13px;
  padding-left: 20px;
  background-color: #5BA27F;
  color: white;
  font-weight: bold;
  border: none;
}

.loginpage input[type=submit]:hover{
  background-color: #FFAA00;
}

.loginpage .box2 span:hover{
  color: #FFAA00;
}

.loginpage .box1 p:hover{
  color: #5BA27F;
}

::-webkit-input-placeholder {
  font-size: 13px;
}
::-moz-placeholder {
  font-size: 13px;
}
:-ms-input-placeholder {
  font-size: 13px;
}
::placeholder {
  font-size: 13px;
}

/* end login page */

/* start register page */

.loginpage .visi{
  text-align: left;
  margin-right: 140px;
}

.loginpage .visi h3{
  margin-bottom: 60px;
}

.loginpage .visi .row{
  margin-bottom: 20px;
}

.loginpage .visi .icon{
  height: 50px;
  width: 50px;
}

.loginpage .visi h5{
  font-weight: bold;
}

.regist .input3{
  width: 290px;
  margin-top: 15px;
  height: 42px;
  border: 3px solid #5BA27F;
  border-radius: 13px;
  padding-left: 20px;
  font-family: FontAwesome;
}

.regist .input4{
  width: 220px;
  height: 42px;
  border: 3px solid #5BA27F;
  border-radius: 13px;
  padding-left:  20px;
  font-family: FontAwesome;
}

.loginpage .regist .box1{
  margin-top: 0;
  height: 515px;
}

.regist .page{
  margin-top: 15px;
  margin-left: 27px;
}

.regist .circle{
  width: 9px;
  height: 9px;
  border-radius: 100%;
  background-color: #828282;
}

.regist .page .circle .active{
  background-color: #FFAA00;
}

.loginpage .regist ul{
  margin-top: 15px;
}

.loginpage .regist li{
  float: left;
  margin-right: 15px;
  color: #828282;
}

.loginpage .regist .active{
  color: #FFAA00;
}

select {
  /* styling */
  background-color: white;
  border: 3px solid #5BA27F;
  border-radius: 12px;
  display: inline;
  line-height: 1.5em;
  padding: 0em 3.5em 0.2em 1em;
  font-family: FontAwesome;
  height: 42px;
  font-size: 15px;
  /* reset */
     
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: #5BA27F;
  outline: 0;
}


/* end register page */

@media (min-width: 876px) { 

  /* start login page */

  ::-webkit-input-placeholder {
    font-size: 17px;
  }
  ::-moz-placeholder {
    font-size: 17px;
  }
  :-ms-input-placeholder {
    font-size: 17px;
  }
  ::placeholder {
    font-size: 17px;
  }

  .loginpage{
    margin-top: 150px;
    text-align: center;
  }

  .loginpage .hide{
    display: inline;
  }

  .loginpage img{
    width: 450px;
  }

  .loginpage .box1{
    margin-top: 80px;
    width: 384px;
  }

  .loginpage .box2{
    width: 384px;
  }

  .loginpage .input1{
    width: 338px;
    font-size: 17px;
  }

  .loginpage .input2{
    width: 255px;
    font-size: 17px;
  }

  .loginpage .input3{
    width: 338px;
    font-size: 17px;
  }

  .loginpage input[type=submit]{
    width: 338px;
  }

  /* end login page */
}